#registerBody
{
    background-image: url("../images/background.jpg");
	background-size: cover;
}

#registerDiv
{
    width: 450px;
    height: 650px;
    position: center;
    top: 100px;
    left: 600px;
    margin: auto;
    padding: 50px;
    border-style: solid;
    background-color: white;
}

#registerButton
{
    position: center;
    height: 38px;
}
